*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    max-width: 1000px;
    margin: auto;
    padding: 02%;
    display: flex;
    flex-wrap: wrap;
}



/* ESTILIZAÇÃO DO MENU */
header{
    background-color: #305473;
    border-bottom: 0.5px solid #254559;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}
.fotinha{
    color: #DFEDF2;
    font-size: 21px;
    text-align: center;
}
.menu{
    width: 80%;
    text-align: right;
    margin-left: 11%;
}
.menu a{
    color: #9ACDD9;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
    text-align: justify;
    margin-right: 30px;
    transition: 0.5s;
}
.menu a:hover{
    color: #6B98BF;
}
/* ESTILIZAÇÃO DO MENU */



/* ESTILIZAÇÃO DO CORPO DO SITE */
section.corpo{
    background-image: url('img/Des1gnon_Background_geometrico_06.jpg');
    min-height: 8000px;
    background-size: cover;
    background-repeat: no-repeat;
}
.corpo{
    width: 100%;
}
.corpo h2{
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
    color: #254559;
}
.tuberculose h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
}
.imagem_1{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_1{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.polio h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 10%;
}
.imagem_2{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_2{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.difteria h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 20%;
}
.imagem_3{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_3{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.imagem_4{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 20%;
}
.texto_4{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: 0%;
}
.imagem_5{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 30%;
}
.texto_5{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: 0%;
}
.imagem_6{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 30%;
}
.texto_6{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: 0%;
}
.sarampo h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 25%;
}
.imagem_7{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_7{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.imagem_8{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 30%;
}
.texto_8{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: 0%;
}
.imagem_9{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 22.5%;
}
.texto_9{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: 0%;
}
.hepatite h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 32%;
}
.imagem_10{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_10{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.febre h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 24%;
}
.imagem_11{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_11{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.gripe h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 21%;
}
.imagem_12{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_12{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.pneumonia h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 21%;
}
.imagem_13{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_13{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
.hpv h1{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    text-align: center;
    border-top: #305473 0.5px solid;
    border-bottom: #305473 0.5px solid;
    margin-left: 15%;
    margin-right: 15%;
    color: #0B1C26;
    margin-top: 15%;
}
.imagem_14{
    vertical-align: middle;
    height: 150px;
    margin-left: 15%;
    padding-top: 2%;
}
.texto_14{
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline;
    font-size: 20px;
    color: #0000 solid;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
    float: right;
    vertical-align: middle;
    margin-top: -5%;
}
/* ESTILIZAÇÃO DO CORPO DO SITE */